{% extends "base.html" %}

{% block breadapp_content %}
    <div class="container-fluid">
        <div id="convert_text_div">
            <h1>Convert Recipe Text</h1>
            <form action="" method="POST">
                <table id="convert_text" class="table table-condensed">
                    <tr>
                        <th>{{ form.ingredients_input.label }}</th>
                        <th>{{ form.ingredients_output.label }}</th>
                    </tr>
                    <tr>
                        <td>{{ form.ingredients_input(cols=60, rows=15, autofocus=true) }}</td>
                        <td>{{ form.ingredients_output(cols=60, rows=15, disabled=true) }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.directions_input.label }}</td>
                        <td>{{ form.directions_output.label }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.directions_input(cols=60, rows=15) }}</td>
                        <td>{{ form.directions_output(cols=60, rows=15, disabled=true) }}</td>
                    </tr>
                    <tr>
                        <td>
                            {{ form.submit() }} &nbsp;
                            <button onclick="copyToClipboard();" id="copy_to_clipboard" class="btn btn-warning">Copy to Clipboard</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button onclick="clearFields2();" id="reset_button" class="btn btn-danger">Reset</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>

    <div id="clipboard_section" style="display: none;">
        <textarea id="clipboard_text">
        </textarea>
    </div>

    <script>
        function clearFields2() {
            document.getElementById("ingredients_input").value = "";
            document.getElementById("directions_input").value = "";
            document.getElementById("ingredients_output").value = "";
            document.getElementById("directions_output").value = "";
            document.getElementById("ingredients_input").focus();
            document.getElementById("convert_text_flash_msg").style.display = "none";
        }

        function copyToClipboard() {
            ingredients = document.getElementById("ingredients_output").value;
            directions = document.getElementById("directions_output").value;
            section = document.getElementById("clipboard_section");
            clipboard = document.getElementById("clipboard_text");

            section.style.display = "block";

            clipboard.value = ingredients + '\n\n\n' + directions;
            clipboard.select();
            document.execCommand("copy");

            section.style.display = "none";
            //document.getElementById("convert_text_flash_msg").style.display = "block";
        }
    </script>
{% endblock %}