<div id="ask_add_step" class="container">
    <p>
        <button onclick="addStep()" id="ask_add_step_button" class="btn btn-default">Add a Step</button>
    </p>
</div>

<div id="add_step_section" class="container" style="display: none;">
    <h1>Add Step</h1>
    <form id="add_step" action="" method="POST">
        {{ sform.hidden_tag() }}
        <table id="step_form" class="table table-condensed">
            <tr>
                <th>{{ sform.number.label }}</th>
                <td>{{ sform.number(size=5) }}</td>
                {% for error in sform.number.errors %}
                    <td id="add_step_error">
                        <span>[{{ error }}]</span>
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <th>{{ sform.text.label }}</th>
                <td>{{ sform.text(cols=80, rows=4) }}</td>
                {% for error in sform.text.errors %}
                    <td id="add_step_error">
                        <span>[{{ error }}]</span>
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <th>{{ sform.then_wait_h.label }}</th>
                <td>
                    {{ sform.then_wait_h(size=2) }}
                    {{ sform.then_wait_m(size=2) }}
                    {{ sform.then_wait_s(size=2) }}
                </td>
                {% for error in sform.then_wait_h.errors %}
                    <td id="add_step_error">
                        <span>[{{ error }}]</span>
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <th>{{ sform.wait_time_range.label }}</th>
                <td>{{ sform.wait_time_range(size=30) }}</td>
                {% for error in sform.wait_time_range.errors %}
                    <td id="add_step_error">
                        <span>[{{ error }}]</span>
                    </td>
                {% endfor %}
            </tr>

        </table>
        <p>
            <button onclick="cancelAddStep()" id="cancel_step" class="btn btn-danger">Cancel</button>
            {{ sform.submit() }}
        </p>
    </form>
</div>

<div id="ask_toggle_recipe" class="container">
    <p>
        <button onclick="toggleRecipe()" id="toggle_recipe" class="btn btn-default">Toggle Full Recipe</button>
    </p>
</div>

<div id="recipe_section" class="container" style="display: none;">
    {% if recipe.id == 1 %}
        {% include "recipes/Pain de Campagne (Sourdough).html" %}
    {% elif recipe.id == 2 %}
        {% include "recipes/Saturday White Bread.html" %}
    {% elif recipe.id == 3 %}
        {% include "recipes/Detroit-Style Pan Pizza.html" %}
    {% elif recipe.id == 4 %}
        {% include "recipes/White Bread with Overnight Poolish.html" %}
    {% elif recipe.id == 5 %}
        {% include "recipes/Pizza Dough with Overnight Poolish.html" %}
    {% endif %}
</div>

<div id="hidden_fields">
    <p id="debug1"></p>
    <p id="debug2"></p>
    <p id="debug3"></p>
    <p id="debug4"></p>
</div>

<script>
    function addStep() {
        document.getElementById("ask_add_step").style.display = "none";
        document.getElementById("add_step_section").style.display = "block";
    }

    function cancelAddStep() {
        document.getElementById("ask_add_step").style.display = "block";
        document.getElementById("add_step_section").style.display = "none";
        /*document.getElementById("addStep_directions").value = "";
        document.getElementById("addStep_then_wait_h").value = "";
        document.getElementById("addStep_then_wait_m").value = "";
        document.getElementById("addStep_then_wait_s").value = "";
        document.getElementById("addStep_time_range").value = "";*/
    }

    function toggleRecipe() {
        section = document.getElementById("recipe_section");

        if (section.style.display == "none") {
            section.style.display = "block"
        }
        else {
            section.style.display = "none"
        }
    }
</script>
