<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }} - Breadsheet</title>
    {% else %}
    <title>Breadsheet Baking Tool</title>
    {% endif %}

    {% include "styles.html" %}
</head>

<body>
    <div id="nav">
        <a href="/index">Home</a> |
        <a href="/add_recipe">Add Recipe</a> |
        <a href="/convert_text">Convert Text</a>
    </div>
    <!-- Retrieve messages from the flash msg -->
    
    <p></p>
    
    {% block content %}
    {% endblock %}

    <script>
        function ClearFields() {
            document.getElementById("ingredients_input").value = "";
            document.getElementById("directions_input").value = "";
            document.getElementById("ingredients_output").value = "";
            document.getElementById("directions_output").value = "";
            document.getElementById("ingredients_input").focus();
            document.getElementById("convert_text_flash_msg").style.display = "none";
            };
    </script>

</body>
</html>

