<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }} - Breadsheet</title>
    {% else %}
    <title>Breadsheet Baking Tool</title>
    {% endif %}

    <style>{% include "styles.css" %}</style>
</head>

<body onload="sfToggle();">
    <div id="nav">
        <a href="{{ url_for('main.index') }}">Home</a> |
        <a href="{{ url_for('main.add_recipe') }}">Add Recipe</a> |
        <a href="{{ url_for('convert.convert') }}">Convert Recipe Text</a>
    </div>

    <p></p>
    
    {% block breadapp_content %}
    {% endblock %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <!-- <li>{#{ message }#}</li> -->
            {% endfor %}
        {% endif %}
    {% endwith %}

    <script>
    {% block scripts %}

            {% include "moment.js" %}

    {% endblock %}
    </script>

</body>
</html>