{% extends "base.html" %}

{% block content %}
    <div id="convert_text">
        <h1>Convert Recipe Text</h1>
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <table id="convert_text">
                <tr>
                    <th>Ingredients {{ form.ingredients_input.label }}</th>
                    <th>Ingredients {{ form.ingredients_output.label }}</th>
                </tr>
                <tr>
                    <td>{{ form.ingredients_input(cols=60, rows=15, autofocus=true) }}</td>
                    <td>{{ form.ingredients_output(cols=60, rows=15, disabled=true) }}</td>
                </tr>
                <tr>
                    <th>Directions {{ form.directions_input.label }}</th>
                    <th>Directions {{ form.directions_output.label }}</th>
                </tr>
                <tr>
                    <td>{{ form.directions_input(cols=60, rows=15) }}</td>
                    <td>{{ form.directions_output(cols=60, rows=15, disabled=true) }}</td>
                </tr>
                <tr>
                    <td>
                        {{ form.submit() }}
                        <button type="button" onclick="ClearFields();" id="reset">Reset</button>
                    </td>
                </tr>
                <tr>
                    <td id="convert_text_flash_msg" style="font-size:small; color:Green">
                        {{ get_flashed_messages()[0] }}
                    </td>
                </tr>
            </table>
        </form>
    </div>
{% endblock %}
