{% extends "base.html" %}

{% block breadapp_content %}
    <div class="container-fluid" id="recipe_list_div">
        <h1>Recipes</h1>
        <table id="recipe_list" class="table table-condensed table-striped">
            <thead>
                <tr id="recipe_header_row">
                    <th>Name</th>
                    <th>Author</th>
                    <th>Source</th>
                    <th>Difficulty</th>
                    <th>Added</th>
                </tr>
            </thead>

            <tbody>
                {% for recipe in recipes %}
                    <tr>
                        <td><a href="{{ url_for('main.recipe') }}?id={{ recipe.id }}">{{ recipe.name }}</a></td>
                        <td>{{ recipe.author }}</td>
                        <td>{{ recipe.source }}</td>
                        <td>{{ recipe.difficulty }}</td>
                        <td>{{ recipe.date_added_ui }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
