{% extends "base.html" %}

{% block content %}
    <div id="recipe_display">
        <table id="single_recipe">
            <tr id="recipe_title_row">
                <td colspan="4"><h2>{{ recipe.name }} [{{ recipe.id }}]</h2></td>
            </tr>
            
            <tr id="recipe_row1">
                <th>Author:</th>
                <td>{{ recipe.author }}</td>
                <th>Difficulty:</th>
                <td>{{ recipe.difficulty }}</td>
            </tr>
            
            <tr id="recipe_row2">
                <th>Source:</th>
                <td>{{ recipe.source }}</td>
                <th>Date Added:</th>
                <td>{{ recipe.date_added }}</td>
            </tr>
        </table>
    </div>
    <br>
    {% block show_steps %}
    {% endblock %}

{% endblock %}
