{% extends "base.html" %}

{% block breadapp_content %}
    <div class="container" id="recipe_div">
        <h1>{{ recipe.name }}</h1>
        <table id="recipe" class="table table-condensed">
                <tr id="recipe_row1">
                    <th><b>Author:</b></th>
                    <th>{{ recipe.author }}</th>
                    <th><b>ID:</b></th>
                    <th>{{ recipe.id }}</th>
                </tr>

            <tr id="recipe_row2">
                <td><b>Source:</b></td>
                <td>{{ recipe.source }}</td>
                <td><b>Difficulty:</b></td>
                <td>{{ recipe.difficulty_ui }}</td>
            </tr>

            <tr id="recipe_row3">
                <td id="recipe_row_bottom"><b>Total Time:</b></td>
                <td id="total_time">{{ recipe.total_time_ui }}</td>
                <td id="recipe_row_bottom"><b>Date Added:</b></td>
                <td id="recipe_row_bottom">{{ recipe.date_added_ui }}</td>
            </tr>
        </table>
    </div>

    {% include "steps.html" %}
    {% include "start_finish.html" %}
    {% include "add_step.html" %}

{% endblock %}
