<div class="container" id="steps_div">
    <table id="steps_list" class="table table-condensed table-striped">
        <thead>
            <th>Step</th>
            <th>Directions</th>
            <th>When</th>
            <th>Then Wait...</th>
            <th>Time Range</th>
        </thead>

        {% for step in steps %}
            <tr id="step_row{{ step.id }}">
                <td id="step_number{{ step.id }}">{{ step.number }}.</td>
                <td>{{ step.text }}</td>
                <td id="step_when{{ step.id }}">{{ step.when }}</td>
                <td id="step_wait{{ step.id }}">
                    {% for tw in twforms %}
                        {% if tw.step_id == step.id %}
                        {{ tw.then_wait_h(size=3, id="then_wait_h{}".format(step.id)) }}:{{
                            tw.then_wait_m(size=3, id="then_wait_m{}".format(step.id)) }}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{ step.wait_time_range }}</td>
            </tr>
        {% endfor %}
    </table>
    <p></p>
</div>
