{% extends "recipe.html" %}

{% block show_steps %}
    <div id="steps">
        <table id="steps_list">
            <tr id="step_header_row">
                <th>Step</th>
                <th>Directions</th>
                <th>When?</th>
                <th>Then Wait...</th>
                <th>Time Range</th>
            </tr>
            
            {% for step in steps %}
                <tr id="step_row">
                    <td>{{ step.number }}</td>
                    <td>{{ step.text }}</td>
                    <td>{{ step.when }}</td>
                    <td>{{ step.then_wait }}</td>
                    <td>{{ step.wait_time_range }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
