
<style>
    table tr#recipe_title_row {
        text-align:         center;
        border:             none;
        }
    
    table#recipe th {
        background-color:   black;
        color:              white;
        }
    
    table#recipe tr:nth-child(even) {
        background-color:   #eee;
        border:             none;
        padding:            5;
        }
        
    table#recipe tr:nth-child(odd) {
        background-color:   #fff;
        border:             none;
        padding:            5;
        }
        
    table#steps_list tr:nth-child(even) {
        background-color:   #eee;
        border:             none;
        padding:            5;
        }
        
    table#steps_list tr:nth-child(odd) {
        background-color:   #fff;
        border:             none;
        padding:            5;
        }
    
    table#steps_list th {
        background-color:   black;
        color:              white;
        }
    
    table#single_recipe th {
        font-weight:        bold;
        text-align:         right;
        }
        
    table#single_recipe tr#recipe_row_1 {
        padding:            0 5px 0 0px;
        }
    
    table#single_recipe tr#recipe_row_2 {
        padding:            0 5px 0 0px;
        }
    
    table#recipe_form th {
        font-weight:        bold;
        text-align:         right;
        padding:            0 5px 0 0px;
        }
    
    table#step_form th {
        font-weight:        bold;
        text-align:         right;
        padding:            0 5px 0 0px;
        }
    
    table#steps_list td#step_number {
        text-align:         right;
        padding:            0 2px 0 0px;
        }
        
    table#convert_text th#title {
        text-align:         center;
        }
    
    td, th {
        padding:            0 10px 0 5px;
    }
</style>