    .container {
       margin: 10 auto; /* this will center the page */
       width: 800px; /*  use your width here */
    }

    .body {
        padding:    0 5px;
    }

    #ask_add_step {
        display:            block
    }

    #add_step_section {
        display:            none
    }

    #recipe_section {
        display:            none
    }

    #hidden_fields {
        display:            block
    }

    table tr#recipe_title_row {
        text-align:         center;
        border:             none;
        }
    
    table#recipe th {
        background-color:   black;
        color:              white;
        }
    
    table#recipe tr:nth-child(even) {
        background-color:   #eee;
        border:             none;
        padding:            5;
        }
        
    table#recipe tr:nth-child(odd) {
        background-color:   #fff;
        border:             none;
        padding:            5;
        }
        
    table#steps_list tr:nth-child(even) {
        background-color:   #eee;
        border:             none;
        padding:            5;
        }
        
    table#steps_list tr:nth-child(odd) {
        background-color:   #fff;
        border:             none;
        padding:            5;
        }
    
    table#steps_list th {
        background-color:   black;
        color:              white;
        }
    
    table#single_recipe th {
        font-weight:        bold;
        text-align:         right;
        }
        
    table#single_recipe tr#recipe_row_1 {
        padding:            0 5px 0 0px;
        }
    
    table#single_recipe tr#recipe_row_2 {
        padding:            0 5px 0 0px;
        }
    
    table#recipe_form th {
        font-weight:        bold;
        text-align:         right;
        padding:            0 5px 0 0px;
        }
    
    table#step_form th {
        font-weight:        bold;
        text-align:         right;
        padding:            0 5px 0 0px;
        }
    
    table#steps_list td#step_number {
        text-align:         right;
        padding:            0 2px 0 0px;
        }
        
    table#convert_text th#title {
        text-align:         center;
        }

    table#steps_time_summary th {
        font-weight:        bold;
        text-align:         right;
        }

    table#start_finish_table th {
        text-align:         right;
        }
    
    td, th {
        padding:            0 10px 0 5px;
        }

    /* Paprika styles */
    /*body {
        font-family: HelveticaNeue, sans-serif;
        font-size: 16.0px;
        color: #34302e;
        margin: 0.25in;
    }
    .name {
        font-size: 18.0px;
        font-family: Futura, Helvetica, sans-serif;
        font-weight: normal;
        margin: 0 0 10px 0;
    }*/
    .categories {
        color: #605D5D;
        font-size: 14.0px;
        font-family: Helvetica, sans-serif;
        font-style: italic;
    }
    .rating {
        color: #d10505;
        font-size: 14.0px;
    }
    .metadata {
        font-size: 14.0px;
    }
    .infobox p {
        margin: 0;
        line-height: 150%;
    }
    .subhead {
        color: #d10505;
        font-weight: bold;
        font-size: 14.0px;
        text-transform: uppercase;
        margin: 10px 0;
    }
    .ingredients p {
        margin: 4px 0;
    }
    .clear {
        clear:both;
    }
    /*a {
        color: #4990E2;
        text-decoration: none;
    }*/
    /* Full page specific styles */
    .text {
        line-height: 110%;
    }
    .photobox {
        float: left;
        margin-right: 14px;
    }
    .photo {
        max-width: 140px;
        max-height: 140px;
        width: auto;
        height: auto;
    }
    .columnbox {

    }
    .inline-image {
        max-width: 140px;
        max-height: 140px;
        width: auto;
        height: auto;
    }
    .photoswipe {
        border: 1px #dddddd solid;
        cursor: pointer;
    }
    .pswp__caption__center {
        text-align: center !important;
    }